* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  transition: background 0.5s ease;
}

.container.angry {
  background: url("https://media.tenor.com/_7a8r8d8m8IAAAAC/doge-tears.gif") no-repeat center center/cover !important;
}

.card {
  background: white;
  padding: 30px 20px 50px;
  width: 320px;
  min-height: 300px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}


.buttons {
  margin-top: 20px;
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


button {
  padding: 10px 22px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.yes {
  background: #ff4d6d;
  color: white;
}

.yes:hover {
  background: #e63950;
}

.no {
  background: #ddd;
  transition: left 0.15s ease, top 0.15s ease;
}

.reset {
  background: #333;
  color: white;
}

.reset:hover {
  background: #000;
}


.success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  color: white;
}

.gif {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.success img {
  width: 200px;
  margin-bottom: 20px;
}

.card h2 {
  margin: 12px 0 18px;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;

  background: linear-gradient(90deg, #ff9a9e, #fad0c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(90deg, #ff9a9e, #fad0c4);
  background-clip: text;
  /* Standard property */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.success h1,
.success p {
  margin: 5px 0;
}